.barra-busqueda-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.barra-busqueda {
  align-items: center;
  display: flex;
  gap: 8px;
}

.barra-busqueda__input {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  flex: 1;
  font-size: 16px;
  height: 42px;
  padding: 12px;
  width: 28ch;
}

.barra-busqueda__error {
  color: red;
  font-size: 14px;
  margin: 0;
}
